<section class='main'>
    <section>
    	<div class='nav'>
    		<calc-elem></calc-elem>
			<nearby-elem></nearby-elem>
			<plan-elem></plan-elem>
		</div>
        <about-elem>
        </about-elem>
        <div class='about-text'>
	        <div><img src="src/img/pKSmx.png"></div>
			<p>The Ballmer Peak, a reference to Steve Ballmer of Microsoft, holds that imbibing alcohol improves cognitive ability, up to a point–a variation of the Yerkes-Dodson law, which shows a correlation between arousal and performance. Anecdotal evidence suggests that optimal programming occurs at a blood alcohol concentration of 0.129 to 0.138. <br> The <strong>Ballmer Peak Helper©</strong> helps you to schedule a block of time during the day to work during your specific Ballmer Peak based on your weight, gender, and age. Simply choose a starting time, preferred peak time, and an ending time.</p>
        	
        </div>
        <!--You will need to add a ui-sref here that points the adventurers state-->
    </section>
</section>