@import url('https://fonts.googleapis.com/css?family=Playball');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:500i');

body {
	background: url('../src/img/jamie-street-253014.jpg') no-repeat center center fixed;
	background-size: cover;
}

.heading {
	margin: auto;
	text-align: center;
	width: 68vw;
	box-shadow: 8px 5px 5px gray;
	border-radius: 5px;
	background-color: rgba(50,50,50, 0.1);
}

h1.heading-text {
	font-family: 'Playball', cursive;
	color: #bc0835;
	font-size: 8vw;
	text-shadow: 8px 8px rgba(50,50,50, 0.15);
	margin-bottom: 10px;
}

.nav {
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding-bottom: 10px;
}

.rel-xkcd {
	text-decoration: none;
	color: lightblue;
	font-size: .5em;
	position: absolute;
	bottom: 2vh;
	left: 1vw;
}

#map {
	width: auto;
	height: 450px;
}

/*.main.ng-enter {
  transition: 3.75s;
  opacity: 0; }
.main.ng-enter-active {
  opacity: 1; }
.main.ng-leave {
  transition: .1s;
  opacity: 1; }
.main.ng-leave-active {
  opacity: 0; }*/





